.footer .main-container{
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AE00FF;
    cursor: context-menu;
}
.footer div a{
    color: #e4e4e4e8;
    text-decoration-line: none;
}
.footer div.first a{
    font-size: 1.2rem;
}
.footer div.second a{
    font-weight: bold;
    padding-right: 0.8rem;
}
.footer div.second a:last-child{
    padding-right: 0;
}
.footer div a:hover{
    color: white;
}
.footer div p{
    cursor: context-menu;
    font-size: 1rem;
    color: #e4e4e4e8;
}
.footer div.third h1{
    color: #e4e4e4e8;
    font-size: 1.2rem;
    word-spacing: 9px;
    margin: 2rem 0 0.3rem;
}
.footer div.third .icon{
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.footer div.third .icon i{
    height: 35px !important;
    width: 35px !important;
    background-color: #e4e4e4;
    border-radius: 100%;
    text-align: center;
    line-height: 2.3;
    color: blue;
    cursor: pointer;
}
.footer div.third .icon i:hover{
    background-color: white;
    font-size: 1.2rem;
    line-height: 1.9;
}
@media (max-width: 767px){
    .footer{
        margin-bottom: 3rem;
    }
    .footer .main-container{
        display: block;
        padding: 6% 10% 4%;
        text-align: center;
    }
    .footer .main-container div{
        padding-bottom: 1.5rem;
    }
    .footer div.third h1{
        margin-top: 0;
    }
}