header .nav_container {
    height: 4rem;
    background-color: whitesmoke;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav_container .nav_brand {
    font-weight: 600;
    color: blue;
}

.nav_container i {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav_container i:hover {
    color: blue;
}

.nav_container .nav_menu {
    display: flex;
    gap: 1rem;
}

.nav_menu .nav_list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_list .nav_item {
    cursor: pointer;
}

.nav_item .nav_link {
    color: black;
    display: flex;
    flex-direction: column;
}

.nav_item .nav_link:hover,
.nav_item .nav_link.active {
    color: blue;
}

.nav_link i {
    display: none;
}

.nav_link p {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
}

.nav_link span {
    display: inline-block;
    width: 0;
    height: 0.2rem;
    background-color: blue;
    border-radius: 0.5rem;
    transition: width 0.5s ease;
}

.nav_link:hover span,
.nav_link.active span {
    width: 100%;
}

.nav_menu .toggle-buttons {
    display: none;
}

@media(max-width: 767px) {
    header .nav_container {
        top: initial;
        bottom: 0;
    }

    .nav_container .nav_menu {
        position: relative;
    }

    .nav_menu .nav_list {
        position: fixed;
        bottom: -100%;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        background-color: whitesmoke;
        padding: 2rem 1rem 4rem;
        border-radius: 1.5rem 1.5rem 0 0;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        transition: 0.5s ease;
    }

    .nav_list .nav_item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_item .nav_link {
        align-items: center;
        gap: 0.2rem;
    }

    .nav_link i {
        display: flex;
    }

    .nav_link span {
        display: none;
    }

    .nav_menu .toggle-buttons {
        display: initial;
    }

    .toggle-buttons .close-btn {
        display: none;
    }

    /* dynamic class */
    .nav_list.active {
        bottom: 0;
    }
    .close-btn.show_close_btn {
        display: flex;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
    /* ----------- */
}
