/* ----------------main---------------- */
main {
    margin: 4rem 0 7rem;
}

main section {
    padding: 2rem 10%;
}

/* common Style */
.container .heading {
    padding-bottom: 2rem;
    text-align: center;
}

.heading h2 {
    font-size: 2.2rem;
}

.heading h6 {
    font-size: 1rem;
    color: gray;
}


@media(max-width: 767px) {
    main {
        margin: 0;
    }
}