/* ----------------project---------------- */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.carousel-container .carousel {
    padding: 0;
    display: flex;
    gap: 0.5rem;

    /* for auto scrollbar  */
    overflow-x: auto;

    /* For smooth behaviour when scrolling */
    scroll-behavior: smooth;

    /* centre  the card when scrolling */
    scroll-snap-type: x mandatory;
}

/* forhiding scrollbar */
.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .card {
    flex: 0 0 calc((100% / 2) - 0.28rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.1rem solid #e7e2e2;
    border-radius: 0.5rem;
    padding: 0.5rem;
    user-select: none;
    box-shadow: 0 0 0.2rem #f7f7f7;
    position: relative;

    /* centre  the card when scrolling */
    scroll-snap-align: start;
}

.card .img {
    display: flex;
    align-items: center;
    width: 100%;
    border: 0.1rem solid #e0e0e0;
}

.card .img img {
    width: 100%;
}

.card h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(56, 53, 53);
}

.card .skill-used {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    padding-bottom: 2.6rem;
}

.skill-used h4:first-child {
    order: 1;
}

.skill-used h4:last-child {
    order: 2;
}

.card .technologies-used {
    order: 3;
    border-right: 0.2rem solid blueviolet;
    padding-right: 1rem;
}

.card .tools-used {
    order: 4;
}

.card .technologies-used,
.card .tools-used {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3.2rem, 1fr));
    gap: 0.5rem;
}

.technologies-used .tech-item,
.tools-used .tool-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
    cursor: pointer;
}

.tech-item img,
.tool-item img {
    height: 85%;
    max-width: 3rem;
}

.tech-item p,
.tool-item p {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;
    white-space: nowrap;
    height: 1.6rem;
    position: absolute;
    top: -100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s ease;
}

.tech-item p::after,
.tool-item p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 0.3rem solid;
    border-color: blue transparent transparent;
}

.tech-item:hover p,
.tool-item:hover p {
    visibility: visible;
    opacity: 1;
}

.card .information {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: linear-gradient(rgba(50, 150, 255, 0.8), rgba(0, 0, 128, 0.8));
    color: #f0f0f0;
    width: 100%;
    height: 0;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: height 0.5s;
}

.information.view {
    height: 100%;
}

.card .btn {
    transition: background-color 0.5s ease 0.2s, color 1s ease 0.2s;
}

.information p {
    padding: 0 2rem;
    text-align: center;
}

.information a i {
    background-color: #fff;
    color: blue;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.information a i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.2rem 0.2rem #bebaba;
}

.information > i {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.card .btn {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    background-color: rgba(50, 150, 255, 0.8);
}

.card .btn:hover {
    background-color: rgba(55, 135, 221, 0.8);
}

.carousel-container i#prev,
.carousel-container i#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.carousel-container #prev {
    left: -2.5rem;
}

.carousel-container #next {
    right: -2.5rem;
}

/* Dynamic Class */
.carousel-container .disable-btn {
    opacity: 0.5;
}

/* ------------- */

@media(max-width: 1000px) {
    .carousel .card {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 767px) {
    .carousel-container #prev {
        left: -2.1rem;
    }

    .carousel-container #next {
        right: -2.1rem;
    }
}

@media screen and (max-width: 400px) {
    .carousel-container i#prev,
    .carousel-container i#next {
        background-color: transparent;
        color: blueviolet;
        width: initial;
        height: initial;
        font-size: 1.5rem;
    }

    .carousel-container #prev {
        left: -1rem;
    }

    .carousel-container #next {
        right: -1rem;
    }
}